<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jugadores</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>

    </style>
</head>
<body>
<div class="container">
    <div class="col-sm-12">
        <div class="cabecera row text-right">
            <div class="col-sm-6">
                <span class="text-sm-right"> <%=usuario%></span>
            </div>
            <div class="col-sm-6">
                <a href="http://localhost:3000/examen/login">
                    <button  type="button" class="btn btn-sm btn-primary">Salir</button>
                </a>
            </div>
        </div>
    </div>
    <div class="espacio"></div>
   <div class="col-sm-12">
        <form action="/examen/equipo/gestion/buscar/<%=idEquipo%>" class="form-horizontal" method="post">
            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="busquedaId" placeholder="Busqueda" name="busqueda">
                </div>

                <div class="col-sm-2 text-right"><button type="submit" class="btn btn-sm btn-primary">buscar</button></div>
            </div>

        </form>
    </div>
    <div class="col-sm-12">
        <div class="form-group row text-right">
            <div class="col-sm-12">

                <a href="http://localhost:3000/examen/equipo/gestion/crear/<%=idEquipo%>">
                    <button type="button" class="btn btn-sm btn-primary">Crear</button>
                </a>

            </div>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-sm-12">
            <table class="table table-md table-hover table-bordered">
                <thead>
                <tr>
                    <th>Numero de Camiseta</th>
                    <th>Nombre en Camiseta</th>
                    <th>Nombre Completo</th>
                    <th>Poder Especial</th>
                    <th>Fecha de Ingreso</th>
                    <th>N° Goles</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>

                <% listaJugador.forEach((jugador)=>{ %>
                    <tr>
                        <td><%= jugador.numeroCamiseta %></td>
                        <td><%= jugador.nombreCamiseta%></td>
                        <td><%= jugador.nombreCompletoJugador %></td>
                        <td><%= jugador.poderEspecialDos %></td>
                        <td><%= jugador.fechaingresoEquipo%> </td>
                        <td><%= jugador.goles%></td>
                        <td>
                            <form action="/examen/equipo/gestion/eliminar/<%=idEquipo%>" method="post">
                                <input type="text" name="idJugador" hidden value="<%=jugador.idJugador%> ">
                                <button type="submit" class="btn btn-xs btn-info">Borrar</button>
                            </form>
                        </td>
                    </tr>
                <% })%>
                </tbody>
            </table>

        </div>
        <div class="row">
            <div class="col-sm-12">
                <a href="http://localhost:3000/examen/lista" class="btn btn-sm btn-primary" role="button">Regresar</a>
            </div>
        </div>

    </div>
</div>

</body>
</html>